footer {
    /*background-color: orange;*/
    position: absolute;
    text-align: center;
    left: 0;
    bottom: 0;
   /* height: 100px;
    width: 100%;*/
    overflow:hidden;
}

body {
    background: url('../img/fitness_tracker_guide_cover_2.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    /*background: rgba(0, 0, 0, 0.5);*/
}

.welcome {
    text-align: center;
    position: relative;
    top: 200px;
    font-family: 'Bree Serif', serif;
    color: rgba(65, 100, 2000, 0.6);
    text-transform: uppercase;
}
#_title {
    font-size: 300px;
    
}

#center-stuff {
    display: block;
    text-align: center;
}

#buttons {
    position: relative;
    top: 300px;
    text-align: center;
}
